<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <%-include('common/nav')-%>
    <div class="about">
      <h2>About Us</h2>
      
      <div class="aboutData">
        <div class="aboutDataLeft">
          <img src="../assets/images/hero.png" />
        </div>
        <div class="aboutDataRight">
          <h4>We Are The Best <br />Real Estate Company</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.Dolor non,
            qui maiores enim obcaecati,placeat saepe eaque aperiam
            libero,commodi et! Ducimus doloremque illum ab ullam in facilis
            debitis?Facilis, nobis aliquid ullam aliquam necessitatibus amet
            dignissimos ipsa. Nesciunt, enim?
          </p>
          <button>View More Details</button>
        </div>
      </div>
    </div>
  </body>
</html>
