<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <%-include('common/nav')-%>
    <div class="agents">
      <h2>Our Agents</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.Quisquam, iure!
      </p>
      <div class="agentData">
        <div class="agentDataCards">
          <img src="../assets/images/s1.png" />
          <h3>All</h3>
          <button>Learn More</button>
        </div>
        <div class="agentDataCards">
          <img src="../assets/images/s2.png" />
          <h3>Developer</h3>
          <button>Learn More</button>
        </div>
        <div class="agentDataCards">
          <img src="../assets/images/s3.png" />
          <h3>Website</h3>
          <button>Learn More</button>
        </div>
      </div>
    </div>
  </body>
</html>
