<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <%-include('common/nav')-%>
    <div class="contact">
      <h2>Contact Us</h2>
      <div class="contactData">
        <div class="contactDataLeft">
          <img src="../assets/images/cnt.jpeg" />
        </div>
        <div class="contactDataRight">
          <form id="info" method="post" action="">
            <input
              type="text"
              placeholder="Enter your name"
              name="name"
              id="name"
              required
            /><br />

            <input
              type="email"
              placeholder="Enter your email"
              name="email"
              id="email"
              required
            /><br />

            <input
              type="text"
              placeholder="Enter your city name"
              name="city"
              id="city"
              required
            /><br />

            <input
              type="number"
              placeholder="Enter your age"
              name="age"
              id="age"
              required
            /><br />

            <input
              type="text"
              placeholder="Enter your message"
              name="msg"
              id="msg"
              required
            /><br />

            <button type="submit" id="btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
