<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%-include('common/nav')-%>
    <div class="home">
      <div class="homeData">
        <div class="homeDataLeft">
          <h4>Looking for a Property</h4>
          <h1><span>Buy</span> and <span>Sell</span> Properties</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.Fuga
            doloremque, ab earum quae natus nisi beatae eum labore velit
            laborum?
          </p>
          <a href="#">Details</a>
        </div>
        <div class="homeDataRight">
          <img src="../assets/images/header-bg.png" />
        </div>
      </div>
    </div>
  </body>
</html>
