<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <%-include('common/nav')-%>
    <div class="property">
      <h2>Our Agents</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.Quisquam, iure!
      </p>
      <div class="propertyData">
        <div class="propertyDataCards">
          <img src="../assets/images/p1.png" />
          <p>Narayan Niwas</p>
          <h5>$240,989</h5>
          <button>Add to Cards</button>
        </div>
        <div class="propertyDataCards">
          <img src="../assets/images/p2.png" />
          <p>Raj Niwas</p>
          <h5>$540,983</h5>
          <button>Add to Cards</button>
        </div>
        <div class="propertyDataCards">
          <img src="../assets/images/p3.png" />
          <p>Ram Niwas</p>
          <h5>$987,292</h5>
          <button>Add to Cards</button>
        </div>
      </div>
    </div>
  </body>
</html>
