<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/style.css" />
    <title>Real Estate Website</title>
  </head>
  <body>
    <div class="main">
      <div class="logo">
        <img src="../assets/images/logo1.png" />
      </div>
      <div class="nav-items">
        <ul id="z">
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/agents">Agents</a></li>
          <li><a href="/property">Property</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
